@mixin full {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

@mixin center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  @include full;
  @include center;
  font-size: 16px;
}

.window {
  position: relative;
  background-color: gray;
  width: 80%;
  height: 80%;
  overflow-x: hidden;
  overflow-y: scroll;

  &-vertical {
    position: relative;
    background-color: red;
    height: 200%;
    outline: 1px solid blue;
    display: flex;
    justify-content: center;
  }

  &-horizontal {
    position: absolute;
    bottom: 1rem;
    height: calc(50% - 2rem);
    width: calc(100% - 2rem);
    background-color: blue;
    outline: 1px solid green;

    overflow-x: scroll;
    overflow-y: hidden;
  }

  &-content {
    height: 100%;
    width: 300%;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    &-left, &-middle, &-right {
      width: 33.33%;
      height: 100%;
      @include center;
    }

    &-left {
      background-color: yellow;
    }

    &-middle {
      background-color: gray;
    }

    &-right {
      background-color: blue;
    }

  }
}
